# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
*/node_modules

# testing
Frontend/code/coverage

# production
Frontend/code/build

# misc
*/.DS_Store
Frontend/.env.local
Frontend/.env.development.local
Frontend/.env.test.local
Frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

nohup.out

Proxy/code/config/default.json
Proxy/code/node_modules
Frontend/code/node_modules
Frontend/code/ossutil_output/
Frontend/code/src/config.js

terraform.tfvars
terraform.tfstate*
.terraform
*.zip
