# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
*/node_modules

# testing
Frontend/coverage

# production
Frontend/build

# misc
*/.DS_Store
Frontend/.env.local
Frontend/.env.development.local
Frontend/.env.test.local
Frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

nohup.out

Proxy/code/config/default.json
Proxy/code/node_modules
Frontend/ossutil_output/
Frontend/src/config.js

